.blade {
  color: white;
  z-index: 2;
  position: absolute;
  background: url(../assets/dark-triangles.png);
  background-repeat: repeat;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  padding: 15px;
  top: -200px;
  transition: top 1s ease;
}
.blade.active {
  top: 50px;
}

footer {
  position: absolute;
}

footer .footer{
  color: white;
  z-index: 1;
  position: absolute;
  transition: top 1s ease;
  top: 100%;
}
footer .footer.active {
  bottom: 50px;
}


footer