li {
  padding-left: 0;
}
body {
  position: relative;
  margin: 0;
  font-family: Open Sans;
  overflow: hidden;
}

nav {
  color: white;
  z-index: 1;
  position: fixed;
  
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;

  font-size: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav-item {
    width: calc(100%/8);
    text-align: center;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    float: left;
}

main {
  z-index: 0;
  height: 100vh;
  position: absolute;
}

#gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,000000+100 *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+63 */
  /* Hey Cyril, this is how you modify this gradient */
  /*  (1) go to the link above
      (2) set color format to rgba
      (3) play around with the editor, copy the text, paste it below
      (4) ensure that the "center" color has an alpha-transparency of 0, while the "outer" color has an alpha of 1
  */
  
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#viewport {
  height: 100vh;
}